<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    
    <main style="width: 100%;">
      <div>
        <div class="showAnimal">
        <h2> <%= Animals.species %> </h2>
      </div>
          <div style="display: block; margin-left:45%;">
          <span>Location: </span> <%= Animals.location %><BR>
          <span>Extict: </span> <%= Animals.extinct ? "Yes" : "No" %> <BR>
          <span>Life Expectancy:</span> <%= Animals.lifeExpectancy%><BR>
        </div>
        <div class="buttons">
        <a style="margin: 10px;" href="/animal/<%= Animals._id %>/edit"><button>Edit</button></a>
          <form style="margin: 10px;" action="/animal/<%= Animals._id %>?_method=DELETE" method="POST">
            <input style="margin: 23px 10px 0px 10px;" type="submit" value="Delete"/>
          </form>
          <a style="margin: 10px;" href="/animal/"><button>Back to Main</button></a>
        </div>

      </div>
    </main>
  </body>
</html>

